.portfolio-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.projects {
    margin-top: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project-box {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px #00bfff;

}

.project-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-box h3 {
    font-size: 18px;
    margin: 10px 0;
    color: deepskyblue;
}

@media (max-width: 320px) {
    .portfolio-header {
        font-size: 18px;
    }

    .project-box {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .portfolio-header {
        font-size: 20px;
    }

    .project-box {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .portfolio-header {
        font-size: 22px;
    }

    .project-box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .project-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-box {
        width: 45%;
    }
}

@media (max-width: 1440px) {
    .project-box {
        width: 30%;
    }
}