.resume-container {
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 20px;
}

.resume-box {
    width: 300px;
    padding: 20px;
    background: #222;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 10px #00bfff;

}

.resume-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: deepskyblue;
}

.resume-box p {
    font-size: 14px;
}

@media (max-width: 320px) {
    .resume-box {
        width: 90%;
    }

    .resume-box h3 {
        font-size: 16px;
    }

    .resume-box p {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .resume-box {
        width: 90%;
    }
}

@media (max-width: 425px) {
    .resume-box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .resume-container {
        flex-direction: column;
        align-items: center;
    }

    .resume-box {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .resume-box {
        width: 100%;
    }
}

@media (max-width: 1440px) {
    .resume-box {
        width: 100%;
    }
}
