.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.service-box {
    background:lightskyblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00bfff;

}

.service-box h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
}

.service-box p {
    font-size: 14px;
    box-shadow: 0 0 10px #00bfff;

}

.btn {
    padding: 10px 15px;
    background: slategray;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: slategray;
}

.service-box .btn{
    background-color:slategray;
    border: 1px solid white;
    color: white;

}

.service-box .btn:hover{
    background-color:rgb(0, 119, 255);
    color: black;
    cursor:pointer;
    transition: brackground-color 3s ease-in-out 1s;

}

@media (max-width: 320px) {
    .service-container {
        grid-template-columns: 1fr;
    }

    .service-box h3 {
        font-size: 16px;
    }

    .service-box p {
        font-size: 13px;
    }
}

@media (max-width: 375px) {
    .service-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 425px) {
    .service-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
    }

    .service-box {
        padding: 15px;
    }
}

@media (max-width: 1024px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1440px) {
    .service-container {
        grid-template-columns: repeat(3, 1fr);
    }
}